{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<meta name="author" content="Amit Singh" />
    
<title>{% block title %}User Authentication{% endblock %}</title>
    
<link rel="stylesheet" href="/style.css" />

</head>

<body style="background-color:#1abc9c;">
    <div id="header">
        {% block header %}
	<a href="{% url 'index' %}" style="color:#fff;">{% trans "Home" %}</a> <span style="color:#fff;">|</span> 

	{% if user.is_authenticated %}
	{% trans "Logged in" %}: {{ user.username }} 
	(<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> <span style="color:#fff;">|</span> 
	<a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
	{% else %}
	<a href="{% url 'auth_login' %}" style="color:#fff;">{% trans "Log in" %}</a>
	{% endif %}
	<hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr />
        {% endblock %}
    </div>
</body>

</html>
